header {
    background: #2c3e50;
    color: #fff;
}

.jumbotron {
    background-color: #00CC99;
    /* margen del jumbotron principal*/
    color: #fff;
    padding: 20px 0;

}

.main {
    background: #f2f2f2;
    margin-top: 20px;
    margin-bottom: 20px;
}

aside {
    color: #fff;
}

footer {
    background: #16a085;
    color: #fff;
}

.navbar {
    margin-bottom: 0;
}


