.header {
    background: #3fb0ac;
    color: #FFFFFF ;

}
body{
    font-family: Raleway;
    background: #dddfd4;

    color: #173e43 !important;
}

/*Pone estilo y movimiento en la animacion */
#anim {
    -webkit-animation-name: movimiento-diagonal; /*inicia el movimiento */
    -webkit-animation-duration: 5s; /*tiempo que se demora en ir y regresar */
    -webkit-animation-iteration-count: infinite; /*para que siga realizando la iteracion */
    -webkit-animation-direction: alternate ; /*para que vuelva a su posicion inicial */
    color: #fff; /*color de la letraS */
    position: relative; /*para que inicie en una posicion y regrese*/
}

@-webkit-keyframes movimiento-diagonal {
    from {
        margin-left: 0%;

    }to{
             margin-left: 30%;

     }
}


.jumbotron {
    background-color: #3fb0ac;*
    /* margen del jumbotron principal*/

    padding: 20px 0;
    position: relative;

}

aside {
    color: #fff;
}
.main {

    margin-top: 20px;
    margin-bottom: 20px;
}

.navbar {
    margin-bottom: 0;
}

/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #3fb0ac;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-search {
    padding: 15px;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;

}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {

}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media (min-width: 768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
    #contenedorPerfil{
        padding: 20px;
        background-color:#66afe9;
    }
    #contenedorVer{
        padding: 20px;
        background-color:#2ca02c;
    }
    #NegrillasPalabras{
      font-weight: 900;
    }

    #botonInicio{
        margin-left: 150px;
        margin-top: 45px;
        padding-top: 35px;
        font-weight: bold;
        width:400px;
        height:100px;
        background-color:#3fb0ac;
        font-size: 24px;
        margin-right: 30px;
        cursor: pointer;
        border: 0;
        border-radius: 100px;
        color:#ffffff;
        /* propiedades para la animacion del boton */
        transition: all 0.20s linear;
        -webkit-transition: all 0.20s linear;
        -moz-transition: all 0.20s linear;
        position: relative;
        box-shadow: 0px 25px 0 #173e43;
    }
    #botonInicio:active {
        /* Posicion del boton al clickearlo y la sombra al click*/
        bottom: -12px;
        box-shadow:0 0 0 #F0FFF0, inset 0 0 10px #F0FFF0;
    }


    /* Da animacion a lo que es el Segundo titulo*/
    #oSolo {
        text-align: center;
        margin-top: 50px;
        -webkit-animation-name: deslizarTitulo;
        -webkit-animation-duration: 3s;
        visibility: visible ;
    }
    /* Da animacion y escoge el % en la pantalla*/
    @-webkit-keyframes deslizarTitulo {
        0% {
            -webkit-transform: translateX(8%);
        }
        20%{
            -webkit-transform: translateX(-5%);
        }
        40%{
            -webkit-transform: translateX(2%);
        }
        60%{
            -webkit-transform: translateX(-2%);
        }
        80%{
            -webkit-transform: translateX(0%);
        }
        100% {
            -webkit-transform: translateX(0%);
        }
    }


    #wrap {

       font-size: 1.5em;

        height: 50px;

        width: 2000px;
    }

    .box-shadow--3dp {
        -webkit-box-shadow: 2px 2px 5px ;
        -moz-box-shadow: 2px 2px 5px ;
        background-color:#dddfd4;

    }

}

